<h2>Add new task</h2>

<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
   
    <!-- Task -->
    <div class="form-group">
        <p><label>ID:</label></p>
        <p>
            <input type="text" class="form-control" formControlName="id">
            <small *ngIf="!myForm.controls.id.valid" class="text-danger">
                ID is required.
            </small>
        </p>
        <p><label>Name:</label></p>
        <p>
            <input type="text" class="form-control" formControlName="name">
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                Name is required (minimum 5 characters).
            </small>
        </p>
        <p><label>Priority:</label></p>
        <p>
            <input type="text" class="form-control" formControlName="priority">
            <small *ngIf="!myForm.controls.priority.valid" class="text-danger">
                Priority is required.
            </small>
        </p>
    </div>

    <!-- Substasks --> 
    <div formArrayName="subtasks">
        <div *ngFor="let subtask of myForm.controls.subtasks.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
                <span>Subtask {{ i + 1 }}</span>
                <span *ngIf="myForm.controls.subtasks.controls.length > 1" (click)="removeSubtask(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
                <div class="form-group-col-sx-6">
                    <p><label>ID:</label></p>
                    <input type="text" class="form-control" formControlName="id">
                    <small [hidden]="myForm.controls.subtasks.controls[i].controls.id.valid" class="text-danger">
                        ID is required.
                    </small>
                </div>
                <div class="form-group-col-sx-6">
                    <p><label>Name:</label></p>
                    <input type="text" class="form-control" formControlName="name">
                    <small [hidden]="myForm.controls.subtasks.controls[i].controls.name.valid" class="text-danger">
                        Name is required.
                    </small>
                </div>
            </div>
        </div>    
    </div>

    <div class="margin-20">
        <a (click)="addSubtask()" style="cursor: default">
        Add another subtask
        </a>
    </div>

    <div class="margin-20">
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
    </div>
    <div class="clearfix"></div>

    <!-- Form details (for debugging purposes)
    <div class="margin-20">
        <div>myForm details:-</div>
        <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
        <pre>form value: <br>{{myForm.value | json}}</pre>
    </div> -->

</form>

<p><button type="button" (click)="goBack()">Return</button></p>